@import "tailwindcss";

:root {
  --background: #000000;
}

@theme inline {
  --color-background: var(--background);


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
  }
}

body {
  background: var(--background);
}

@font-face {
  font-family: "GilroyBold";
  src: url("/Fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "GilroyLight";
  src: url("/Fonts/Gilroy-Light.ttf") format("truetype");
}

@font-face {
  font-family: "GilroyMedium";
  src: url("/Fonts/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "GilroyRegular";
  src: url("/Fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LufgaMedium";
  src: url("/Fonts/lufga-medium.otf") format("truetype");
}


.font-gilroy-light {
  font-family: "GilroyLight", sans-serif;
}

.font-gilroy-bold {
  font-family: "GilroyBold", sans-serif;
}

.font-lufga-medium {
  font-family: "LufgaMedium", sans-serif;
}
